@inject IHttpContextAccessor context;

@{
}
<h1>Welcome To @context.HttpContext.Session.GetString("UserEmail") UserDashboard</h1>
<a href="@Url.Action("UserLogout","UserAuth")" class="btn btn-danger">Logout</a>
